@media only screen and (max-width: $ancho)  {
    .plantilla{
        margin: 100px 0 100px 0;   
    }
    .titulo{
        text-align: center;
        font-weight: 200;
        font-size: 50px;
        &:hover{  
            font-size: 58px;
        }
    }

    section{
        p{
            font-size: 17px;
            text-align: center;
        }
        h2{
            font-size: 50px;
        }
        i{
            padding: 5px;
            font-size: 50px;
        }
        h3{
            font-size: 28px;
            text-align: center;  
        
        }
    }
    footer ul{
        height: 55px;
        justify-content: start;
        li{
            display: inline-block;
            margin-right: 5px;
            font-size: 15px
        }
    }
    fieldset{
        font-size: 15px;
        height: auto;
        width: auto;
        margin: 10px;
        border-radius: 50px;
        legend{
          font-size: 30px;
          padding-top: 50px;
        }
    }
}